<form action="/salvar" method="post">
    <div>
        <label for="">CEP</label>
        <input type="text" name="cep" id="cep" >
    </div>
    <div>
        <label for="">Endereço</label>
        <input type="text" name="endereco"   id="endereco">
    </div>
    <div>
        <label for="">Número</label>
        <input type="text" name="numero" id="numero">
    </div>
    <div>
        <label for="">Complemento</label>
        <input type="text" name="complemento" id="complemento">
    </div>
    <div>
        <label for="">Bairro</label>
        <input type="text" name="bairro" id="bairro">
    </div>
    <div>
        <label for="">Cidade</label>
        <input type="text" name="cidade" id="cidade">
    </div>
    <div>
        <label for="">Estado</label>
        <input type="text" name="estado" id="estado">
    </div>
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>